* {
  margin: 0;
  scroll-behavior: smooth;
  transition: all 1.5s ease-out; 
}

.dark-theme {
  --main-color: #171717;
  --header-color: #34255A;
  --text-color: rgb(224, 224, 224);
  --search-color:#4A4A4A;
  --card-color: #424242;
  --arrow-color: #ffffffb2;
  --footer-color: #34255A;
}
  
.light-theme {
  --main-color: #dce5e1;
  --header-color: #608CFF;
  --text-color: #171717;
  --search-color:#D3D3D3;
  --card-color: #E9E9E9;
  --arrow-color: #929292b2;
  --footer-color: #608CFF;
}

a {
  text-decoration: none;
  transition: all 2s ease;
}

a:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 30%;
  background-color: var(--header-color);
}

.header_container {
  margin: 0 5%;
}

input {
  flex: 3;
  width: 90%;
  height: 50px;
  padding-left: 15px;
  border-radius: 15px;
  border: 2px solid #171717;
  background: var(--search-color);
  outline: none;
  position: relative;
  transition: .3s linear;
}

.header_upstairs {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.logo {
  width: 20%;
  height: 10%;
}

.header_upstairs_buttons {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: 0 5%;
}

.header_upstairs_button {
  width: 80%;
  height: 100%;
  border-radius: 15px;
  color: #ffffff;
  font-size: 24px;
  margin: auto;
  background-color: #FF3E3E;
  margin: 0 5%;
}

.header_stairs {
  color: #ffffff;
}

.header_stairs_container {
  display: flex;
  flex-direction: row;
  justify-self: start;
  margin: 1% 0;
}

.header_stairs_container img {
  width: 60px;
  height: 60px;
  border-radius: 15%;
  border-color: var(--text-color);
  background-color: #D9D9D9;
}

.header_stairs_img {
  flex: 0.2;
  margin-right: 0;
}

.search-bar {
  flex: 1.4;
}

.header_button_work {
  flex: 0.2;
  width: 80%;
  height: 50%;
  border-radius: 15px;
  color: #ffffff;
  font-size: 24px;
  margin: auto;
  background-color: #FF3E3E;
}

.company {
  margin: 5%;
}

.company_link {
  color: #ffffff;
}

main {
  margin: 2%;
}

.work_cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 1380;
  min-height: 266;
  color: var(--text-color);
  background-color: var(--card-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 17px;
}

.card:hover{
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.1);
  background-color: #BBBBBB;
}

.card_description {
  margin: 1%;
}

.card_button {
  margin: 2%;
}

.card_btn {
  width: 30%;
  height: 30%;
  border-radius: 15px;
  color: #ffffff;
  font-size: 32px;
  margin: auto;
  background-color: #FF3E3E;
}

.card_org{
  text-align: right;
  vertical-align: top;
  margin: 2% 1%;
}

footer {
  width: 100%;
  height: 80px;
  background: var(--footer-color);
 /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  padding: 20px; /* Внутренние отступы */
  box-sizing: border-box; /* Учитываем padding внутри размеров элемента */
}

.footer_container {
  width: 100%; /* Ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Распределение элементов по краям контейнера */
}

.footer_phone, .footer_adress{
  flex: 1;
}

.footer_links_item {
  color: #ffffff;
}